

header{
    height: 100px;
}
nav{
    width: 200px;
    height: 300px;
    float: left;
}

section{
    width: 200px;
    text-align: left;
    float: left;
    padding: 10px;
}
footer{
    height: 100px;
    clear: both;
    background-color: #4d2f2f;
}
header, nav, section, footer{text-align: center;}
header, footer{line-height: 100px;}
nav, section{line-height: 240px;}

body {
    background-color: black;
    font-family: 'Courier New', monospace;
    color: white;
    margin: 0;
  }
  
  /* 테이블 스타일 */
  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid white;
  }
  
  /* 테이블 행 스타일 */
  tr {
    border: 1px solid white;
  }
  
  /* 테이블 헤더 셀 스타일 */
  th {
    background-color: rgb(79, 5, 5);
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-family: 'EvilFont', sans-serif;
  }
  
  /* 테이블 데이터 셀 스타일 */
  td {
    background-color: rgb(43, 16, 16);
    color: rgb(202, 46, 46);
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-family: 'EvilFont', sans-serif;
    
  }
  
  /* 홀수 행 스타일 */
  tr:nth-child(odd) {
    background-color: #333;

  }

  .my-cell {
    background-color: yellow;
    color: rgb(101, 89, 143);
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  
